.Timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.Timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(83, 83, 83);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.ContentContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.ContentContainer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.Left {
  left: 0;
}

.Right {
  left: 50%;
}

.Left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(83, 83, 83);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(83, 83, 83);
}

.Right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(83, 83, 83);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(83, 83, 83) transparent transparent;
}

.Right::after {
  left: -16px;
}

.Content {
  padding: 20px 30px;
  background-color: rgb(83, 83, 83);
  position: relative;
  border-radius: 6px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .Timeline::after {
    left: 31px;
  }

  .ContentContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .ContentContainer::before {
    left: 60px;
    border: medium solid rgb(83, 83, 83);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(83, 83, 83) transparent transparent;
  }

  .Left::after,
  .Right::after {
    left: 15px;
  }

  .Right {
    left: 0%;
  }
}

.Link {
  color: #fff;
}

.Timeline ul li {
  margin-bottom: 8px;
}
