.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.678)
}

@media screen and (max-width: 500px) {
  .Nav {
    display: block;
  }
}

.Portfolio {
  font-weight: 600;
}